<button [routerLink]="['/', 'inventory', 'add']" nz-button nzType="primary">Add New</button>
<button [routerLink]="['/', 'inventory', 'release']" nz-button nzType="primary" nzDanger>Release Inventory</button>
<br>
<br>


    <br />
    <div class="search">
      <nz-range-picker [(ngModel)]="date" nzBorderless (nzOnCalendarChange)="dateChange($event)" ></nz-range-picker>
    </div>
    <br />
    <br />

<nz-table #editRowTable nzBordered [nzData]="listOfData" [nzScroll]="{ x: '1150px', y: '600px' }" nzTableLayout="fixed">
      <thead>
        <tr>
          <th nzWidth="100px">Id</th>
          <th nzWidth="100px">Username</th>
          <th nzWidth="100px">Title</th>
          <th nzWidth="150px">description</th>
          <th nzWidth="100px">type</th>
          <th nzWidth="100px">product_id</th>
          <th nzWidth="150px">product_title</th>
          <th nzWidth="150px">variant_id</th>
          <th nzWidth="150px">variant_title</th>
          <th nzWidth="150px">catalog_id</th>
          <th nzWidth="150px">catalog_title</th>
          <th nzWidth="100px">unit_price</th>
          <th nzWidth="100px">quantity</th>
          <th nzWidth="100px">created_at</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <ng-container>
            <td nzWidth="100px">{{ data.id }}</td>
            <td nzWidth="100px">{{ data.username }}</td>
            <td nzWidth="100px">{{ data.title }}</td>
            <td nzWidth="150px">{{ data.description }}</td>
            <td nzWidth="100px">{{ data.type }}</td>
            <td nzWidth="100px">{{ data.product_id }}</td>
            <td nzWidth="150px">{{ data.product_title }}</td>
            <td nzWidth="150px">{{ data.variant_id }}</td>
            <td nzWidth="150px">{{ data.variant_title }}</td>
            <td nzWidth="150px">{{ data.catalog_id }}</td>
            <td nzWidth="150px">{{ data.catalog_title }}</td>
            <td nzWidth="100px">{{ data.unit_price }}</td>
            <td nzWidth="100px">{{ data.quantity }}</td>
            <td nzWidth="100px">{{ data.created_at | date:'short' }}</td>
          </ng-container>
        </tr>
      </tbody>
    </nz-table>
