nz-select {
  width: 100%;
}

.loading-icon {
  margin-right: 8px;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nz-input-number{
    width: 30%;
  }
}
