<nz-layout>
      <nz-sider *ngIf="isLoggedIn" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"><img src="" alt="Rongobuy"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item>
            <i nz-icon nzType="dashboard"></i>
            <span [routerLink]="['/']">Dashboard</span>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="account-book"></i>
            <span [routerLink]="['/', 'accounts']">Accounts</span>
          </li>
          <li nz-submenu nzTitle="Inventory" nzIcon="stock">
            <ul>
              <li nz-menu-item>
                <a [routerLink]="['/', 'inventory']">All Inventory</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="['/', 'inventory', 'add']">Add New</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="['/', 'inventory', 'release']">Release inventory</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Products" nzIcon="mobile" nzTheme="fill">
            <ul>
              <li nz-menu-item>
                <a [routerLink]="['/', 'products']">All Products</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="['/', 'products', 'add']">Add New</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Catalogs" nzIcon="snippets">
            <ul>
              <li nz-menu-item>
                <a [routerLink]="['/', 'catalogs']">All Catalogs</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="['/', 'catalogs', 'add']">Add New</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Variants" nzIcon="sliders">
            <ul>
              <li nz-menu-item>
                <a [routerLink]="['/', 'variants']">All Variants</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="['/', 'variants', 'add']">Add New</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="User" nzIcon="user">
            <ul>
              <li nz-menu-item>All Users</li>
              <li nz-menu-item>Add New</li>
            </ul>
          </li>
          <!-- <li nz-menu-item>
            <i nz-icon nzType="file"></i>
            <span>File</span>
          </li> -->
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header *ngIf="isLoggedIn">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></i>
        </nz-header>
        <nz-content>
          <nz-breadcrumb>
            <!-- <nz-breadcrumb-item>User</nz-breadcrumb-item>
            <nz-breadcrumb-item>Bill</nz-breadcrumb-item> -->
          </nz-breadcrumb>
          <div class="page">
            <router-outlet></router-outlet>
          </div>
        </nz-content>
        <nz-footer>Rongobuy ©2020 Implement By Angular & Nest.js</nz-footer>
      </nz-layout>
    </nz-layout>


