<div nz-row nzJustify="space-between" nzGutter="8">
  <div nz-col nzXs="6">
    <nz-card>
      <div class="flex-row">
        <i nz-icon nzType="dollar" class="card-icon" style="color: rgb(197, 41, 2); background: #ffd6c5;"></i>
        <div class="flex-col">
          <p> <b>Total Amount</b></p>
          <p>120000</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="6">
    <nz-card>
      <div class="flex-row">
        <i nz-icon nzType="dollar" class="card-icon" style="color: #08c; background: #c5ecff;"></i>
        <div class="flex-col">
          <p> <b>Total Stock</b></p>
          <p>10000</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="6">
    <nz-card>
      <div class="flex-row">
        <i nz-icon nzType="dollar" style="color: rgb(2, 197, 44); background: #aeffae;" class="card-icon"></i>
        <div class="flex-col">
          <p> <b>Total Amount</b></p>
          <p>120000</p>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="6">
    <nz-card>
      <div class="flex-row">
        <i nz-icon nzType="dollar" style="color: rgb(238, 222, 0); background: #fff9a4;" class="card-icon"></i>
        <div class="flex-col">
          <p> <b>Total Stock</b></p>
          <p>10000</p>
        </div>
      </div>
    </nz-card>
  </div>
</div>

<ngx-barcode bc-value="3c3c3" [bc-display-value]="true"></ngx-barcode>


